###
# This GitHub Actions runs when there is a push to master/main branch and a new change in the `specs/` folder.
# It will send a webhook to COPR when the WEBHOOK URL actions secret has been set in Settings.
# The WEBHOOK_URL is found under the `Custom webhook(s)` sections on https://copr.fedorainfracloud.org/coprs/<username>/<repo>/integrations/
###
name: File Change Webhook
env:
  BRANCH_NAME: master

on:
  push:
    branches:
      - "$BRANCH_NAME"
    paths:
      - "specs/*"
  workflow_run:
    workflows: [Update spec files]
    types:
      - completed

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 5
          ref: $BRANCH_NAME

      - name: Get changes and send webhook to COPR
        shell: bash
        env:
          WEBHOOK: ${{ secrets.WEBHOOK_URL }}
        run: ./scripts/copr_webhook.sh $WEBHOOK ${{ github.sha }}
