name: Lint/Format with Shellcheck

on:
  push:
    branches:
      - main
    paths:
      - "**/*.sh"
  pull_request:
    paths:
      - "**/*.sh"
  workflow_dispatch:

permissions: {}

jobs:
  lint-fmt-sh:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Run ShellCheck
        run: find . -type f -name "*.sh" -exec shellcheck {} +
