name: Lint/Format with Ruff

on:
  push:
    branches:
      - main
    paths:
      - "**/*.py"
  pull_request:
    paths:
      - "**/*.py"
  workflow_dispatch:

permissions: {}

jobs:
  lint-fmt-py:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      # Runs `ruff check`
      - uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1

      # Check formatting
      - run: ruff format --check --diff

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.14'

      - run: "python -m pip install types-requests mypy"

      - run: "mypy ."
