name: Lint/Format with Shellcheck

on:
  push:
    branches:
      - main
    paths:
      - "**/*.sh"
  pull_request:
    paths:
      - "**/*.sh"
  workflow_dispatch:

permissions: {}

jobs:
  lint-fmt-sh:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Run ShellCheck
        run: find . -type f -name "*.sh" -exec shellcheck {} +
